@import "../node_modules/bootstrap/scss/functions";

body{
    background-size: cover;     /*Ajusta la imagen a toda la pantalla*/
    background-repeat: no-repeat;   /*la imagen no se repite en caso de que no se ajuste a la pantalla*/
    background-position: center;    /*centrar la imagen*/
}


.socialMediaP{                      /*estilo de letra del socialMedia*/
    font-family: Arial, Helvetica, sans-serif;
}

.buttonsNetwork{
    position: fixed;            /*organiza los elementos verticalmente*/
    top: 50%;                   /*altura de los botones en la pagina*/
    left: 10px;
}

.buttonsNetwork_list{            /*estilo para el sticky social media*/
    width: 50px;
    height: 50px;
    padding: 0 15px;
    display: block;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #020202;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    background-color: #3aaa15;
}

.buttonsNetwork_list p{         /*desaparece el texto junto al boton*/
    display: none;
}

.buttonsNetwork_list:hover > p{             /*aparece el texto y el boton al pasar el mause*/
    display: block;
}

.buttonsNetwork_list:hover{                 /*trancision de tamaño al pasar el hover*/
    width: 100%;
    padding: 20px 10px;
}

.buttonsNetwork_list:hover:nth-child(1):hover{          /*estilo de color para el boton facebook*/
    color: #070707;
}
